  *{ 
		margin:0; 
		padding:0; 
		box-sizing:border-box; 
		
	} 

	body{ 
		display:flex; 
		justify-content:center; 
		align-items:center; 
		min-height:100vh; 
		background:green; 
	} 

	.gfg{ 
		position:relative; 
		display:flex; 
		justify-content:center; 
		align-items:center; 
		max-width:1000px; 
		flex-wrap:wrap; 
		z-index:1; 
	} 
	
	.gfg .card{ 
		position:relative; 
		width:300px; 
		height:300px; 
		margin:60px; 
		box-shadow:20px 20px 50px rgb(0,0,0,0.4); 
		border-radius:15px; 
		background:rgba(255,255,255,0.1); 
		overflow:hidden; 
		display:flex; 
		justify-content:center; 
		align-items:center; 
		backdrop-filter:blur(6px); 
	} 

	.gfg .card .content{ 
		padding:40px; 
		text-align:center; 
		
	} 

